<section class="testimonials">
  <h1>TESTIMONIALS</h1>
  <div class="cardsSection">
    <div class="card card1">
      <p class="description">
        "Encourage your fans to add videos to their own YouTube account and let you know the link - you can add these
        videos to your channel as Favorites and create a playlist of customer reviews."
      </p>
      <section class="container">
        <div class="divider"></div>
      </section>
      <div class="image"></div>
      <h3>Namn Efternamn</h3>
      <p>Titel</p>
    </div>
    <div class="card card2">
      <p class="description">
        "Encourage your fans to add videos to their own YouTube account and let you know the link - you can add these
        videos to your channel as Favorites and create a playlist of customer reviews."
      </p>
      <section class="container">
        <div class="divider"></div>
      </section>
      <div class="image"></div>
      <h3>Namn Efternamn</h3>
      <p>Titel</p>
    </div>
    <div class="card card3">
      <p class="description">
        "Encourage your fans to add videos to their own YouTube account and let you know the link - you can add these
        videos to your channel as Favorites and create a playlist of customer reviews."
      </p>
      <section class="container">
        <div class="divider"></div>
      </section>
      <div class="image"></div>
      <h3>Dagens Industri</h3>
      <p>17/8-2015</p>
    </div>
  </div>
</section>
