<section class="container puffar">
  <h1>LOREM IPSUM DOLOR SIT AMET</h1>
  <div class="cardsSection">
    <div class="card card1">
      <header></header>
      <div class="centerIcon"></div>
      <main>
        <h3>Grand Hotel Stockholm</h3>
        <h4>Sodra Blasieholmshamnen 8</h4>
        <p>Stockholm &#183; Minst 8 m<sup>2</sup></p>
      </main>
      <footer>
        <h1>250 kr</h1>
        <p>1 timme</p>
        <button>LAS MER</button>
      </footer>
    </div>
    <div class="card card2">
      <header></header>
      <div class="centerIcon"></div>
      <main>
        <h3>Grand Hotel Stockholm</h3>
        <h4>Sodra Blasieholmshamnen 8</h4>
        <p>Stockholm &#183; Minst 14 m<sup>2</sup></p>
      </main>
      <footer>
        <h1>250 kr</h1>
        <p>1 timme</p>
        <button>LAS MER</button>
      </footer>
    </div>
    <div class="card card3">
      <header></header>
      <div class="centerIcon"></div>
      <main>
        <h3>Grand Hotel Stockholm</h3>
        <h4>Sodra Blasieholmshamnen 8</h4>
        <p>Stockholm &#183; Minst 20 m<sup>2</sup></p>
      </main>
      <footer>
        <h1>250 kr</h1>
        <p>1 timme</p>
        <button>LAS MER</button>
      </footer>
    </div>
    <div class="card card4">
      <header></header>
      <div class="centerIcon"></div>
      <main>
        <h3>Grand Hotel Stockholm</h3>
        <h4>Sodra Blasieholmshamnen 8</h4>
        <p>Stockholm &#183; Minst 28 m<sup>2</sup></p>
      </main>
      <footer>
        <h1>250 kr</h1>
        <p>1 timme</p>
        <button>LAS MER</button>
      </footer>
    </div>
  </div>
</section>
