<section class="lime">
  <div class="content">
    <div class="left"></div>
    <div class="right">
      <h1>LOREM IPSUM DOLOR</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda corporis eos fugiat molestias quas
        sequi, voluptatum! Aliquam aliquid iste nihil praesentium quasi repellat voluptates? Autem consequatur deleniti nemo.
      </p>
    </div>
  </div>
</section>
<section class="white">
  <div class="content">
    <input type="range" class="slider" step="33" min="0" max="99" value="25">
    <div class="descriptionContainer">
      <div class="description">
        <h1>X-SMALL</h1>
        <p>2-4 personer</p>
      </div>
      <div class="description">
        <h1>SMALL</h1>
        <p>5-8 personer</p>
      </div>
      <div class="description">
        <h1>MEDIUM</h1>
        <p>9-12 personer</p>
      </div>
      <div class="description">
        <h1>LARGE</h1>
        <p>13-20 personer</p>
      </div>
    </div>
  </div>
</section>
